.elementor-kit-5 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-d4c0b2a: #CECECE;
    --e-global-color-ac828c0: #7B7B7B;
    --e-global-color-0c26721: #043768;
    --e-global-color-fd4f13e: #0082FC;
    --e-global-color-bc0d549: #FF7F7F;
    --e-global-color-ea5ff4e: #9E0C0C;
    --e-global-color-d40ed46: #FF0000;
    --e-global-color-9d5fce1: #333435;
    --e-global-color-9a9613b: #FC0000;
    --e-global-color-13ae769: #15FF00;
    --e-global-color-b0d5c1e: #FCF700;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
}


/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */