.elementor-1576 .elementor-element.elementor-element-1063125:not(.elementor-motion-effects-element-type-background),
.elementor-1576 .elementor-element.elementor-element-1063125>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF7A;
}

.elementor-1576 .elementor-element.elementor-element-1063125 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-1576 .elementor-element.elementor-element-1063125>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-1576 .elementor-element.elementor-element-190865f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1576 .elementor-element.elementor-element-190865f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1576 .elementor-element.elementor-element-3824215 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 21px;
    font-weight: 500;
}

.elementor-bc-flex-widget .elementor-1576 .elementor-element.elementor-element-2db0ca0.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-1576 .elementor-element.elementor-element-2db0ca0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-1576 .elementor-element.elementor-element-dd1e712.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-dd1e712.elementor-view-framed .elementor-icon,
.elementor-1576 .elementor-element.elementor-element-dd1e712.elementor-view-default .elementor-icon {
    fill: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-dd1e712.elementor-position-right .elementor-icon-box-icon {
    margin-left: 0px;
}

.elementor-1576 .elementor-element.elementor-element-dd1e712.elementor-position-left .elementor-icon-box-icon {
    margin-right: 0px;
}

.elementor-1576 .elementor-element.elementor-element-dd1e712.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 0px;
}

.elementor-1576 .elementor-element.elementor-element-dd1e712 .elementor-icon {
    font-size: 20px;
}

.elementor-1576 .elementor-element.elementor-element-dd1e712 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-1576 .elementor-element.elementor-element-dd1e712 .elementor-icon-box-title {
    color: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-dd1e712 .elementor-icon-box-title,
.elementor-1576 .elementor-element.elementor-element-dd1e712 .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-dd1e712>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-1576 .elementor-element.elementor-element-92d9df8.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-1576 .elementor-element.elementor-element-92d9df8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-1576 .elementor-element.elementor-element-af71c34.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-af71c34.elementor-view-framed .elementor-icon,
.elementor-1576 .elementor-element.elementor-element-af71c34.elementor-view-default .elementor-icon {
    fill: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-af71c34 .elementor-icon {
    font-size: 25px;
}

.elementor-1576 .elementor-element.elementor-element-af71c34 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-1576 .elementor-element.elementor-element-af71c34 .elementor-icon-box-title {
    color: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-af71c34 .elementor-icon-box-title,
.elementor-1576 .elementor-element.elementor-element-af71c34 .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-af71c34>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-1576 .elementor-element.elementor-element-bde4560.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-1576 .elementor-element.elementor-element-bde4560.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-1576 .elementor-element.elementor-element-052362c.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-052362c.elementor-view-framed .elementor-icon,
.elementor-1576 .elementor-element.elementor-element-052362c.elementor-view-default .elementor-icon {
    fill: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-052362c.elementor-position-right .elementor-icon-box-icon {
    margin-left: 0px;
}

.elementor-1576 .elementor-element.elementor-element-052362c.elementor-position-left .elementor-icon-box-icon {
    margin-right: 0px;
}

.elementor-1576 .elementor-element.elementor-element-052362c.elementor-position-top .elementor-icon-box-icon {
    margin-bottom: 0px;
}

.elementor-1576 .elementor-element.elementor-element-052362c .elementor-icon {
    font-size: 20px;
}

.elementor-1576 .elementor-element.elementor-element-052362c .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-1576 .elementor-element.elementor-element-052362c .elementor-icon-box-title {
    color: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-052362c .elementor-icon-box-title,
.elementor-1576 .elementor-element.elementor-element-052362c .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-052362c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-1576 .elementor-element.elementor-element-4d4fba5 {
    margin-top: 0px;
    margin-bottom: -11px;
}

.elementor-1576 .elementor-element.elementor-element-88f92af>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-88f92af>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-8b3bd81>.elementor-container {
    min-height: 359px;
}

.elementor-1576 .elementor-element.elementor-element-8b3bd81:not(.elementor-motion-effects-element-type-background),
.elementor-1576 .elementor-element.elementor-element-8b3bd81>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF96;
}

.elementor-1576 .elementor-element.elementor-element-8b3bd81,
.elementor-1576 .elementor-element.elementor-element-8b3bd81>.elementor-background-overlay {
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-8b3bd81 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-1576 .elementor-element.elementor-element-8b3bd81>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-ebe1631>.elementor-element-populated {
    margin: 10px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1576 .elementor-element.elementor-element-f872276 {
    text-align: right;
}

.elementor-1576 .elementor-element.elementor-element-24a989c {
    text-align: right;
}

.elementor-1576 .elementor-element.elementor-element-24a989c>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-1576 .elementor-element.elementor-element-f177642>.elementor-element-populated {
    margin: 10px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-1576 .elementor-element.elementor-element-4549c62 {
    text-align: left;
}

.elementor-1576 .elementor-element.elementor-element-5a82e5c {
    text-align: left;
}

.elementor-1576 .elementor-element.elementor-element-5a82e5c>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-1576 .elementor-element.elementor-element-314cfa0.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-314cfa0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-314cfa0.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-d3d55fd .elementor-icon-wrapper {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-d3d55fd.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-d3d55fd.elementor-view-framed .elementor-icon,
.elementor-1576 .elementor-element.elementor-element-d3d55fd.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-d3d55fd.elementor-view-framed .elementor-icon,
.elementor-1576 .elementor-element.elementor-element-d3d55fd.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-1576 .elementor-element.elementor-element-d3d55fd .elementor-icon {
    font-size: 75px;
}

.elementor-1576 .elementor-element.elementor-element-d3d55fd>.elementor-widget-container {
    margin: 10px 0px 0px -14px;
}

.elementor-1576 .elementor-element.elementor-element-a520f8f>.elementor-container {
    min-height: 83px;
}

.elementor-1576 .elementor-element.elementor-element-a520f8f:not(.elementor-motion-effects-element-type-background),
.elementor-1576 .elementor-element.elementor-element-a520f8f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF80;
}

.elementor-1576 .elementor-element.elementor-element-a520f8f,
.elementor-1576 .elementor-element.elementor-element-a520f8f>.elementor-background-overlay {
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-a520f8f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1576 .elementor-element.elementor-element-a520f8f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-1576 .elementor-element.elementor-element-1966f64.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-1966f64.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-1966f64.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-7478f6b .premium-counter:not(.top) {
    justify-content: center;
}

.elementor-1576 .elementor-element.elementor-element-7478f6b .premium-counter.top {
    align-items: center;
}

.elementor-1576 .elementor-element.elementor-element-7478f6b .premium-init-wrapper {
    flex-direction: column;
}

.elementor-1576 .elementor-element.elementor-element-7478f6b .premium-counter-value-wrap {
    align-self: center;
}

.elementor-1576 .elementor-element.elementor-element-7478f6b .premium-counter-title {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-7478f6b .premium-counter-title .premium-counter-title-val {
    color: var( --e-global-color-text);
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-7478f6b .premium-counter-area .premium-counter-init {
    color: var( --e-global-color-9a9613b);
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-7478f6b>.elementor-widget-container {
    background-color: #FFFFFF7D;
    border-radius: 15px 15px 15px 15px;
}

.elementor-bc-flex-widget .elementor-1576 .elementor-element.elementor-element-ba0eb46.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-ba0eb46.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-ba0eb46.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-be39d51 .premium-counter:not(.top) {
    justify-content: center;
}

.elementor-1576 .elementor-element.elementor-element-be39d51 .premium-counter.top {
    align-items: center;
}

.elementor-1576 .elementor-element.elementor-element-be39d51 .premium-init-wrapper {
    flex-direction: column;
}

.elementor-1576 .elementor-element.elementor-element-be39d51 .premium-counter-value-wrap {
    align-self: center;
}

.elementor-1576 .elementor-element.elementor-element-be39d51 .premium-counter-title {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-be39d51 .premium-counter-title .premium-counter-title-val {
    color: var( --e-global-color-text);
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-be39d51 .premium-counter-area .premium-counter-init {
    color: var( --e-global-color-9a9613b);
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-be39d51>.elementor-widget-container {
    background-color: #FFFFFF7D;
    border-radius: 15px 15px 15px 15px;
}

.elementor-bc-flex-widget .elementor-1576 .elementor-element.elementor-element-8e2a893.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-8e2a893.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-8e2a893.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-03dcbe4 .premium-counter:not(.top) {
    justify-content: center;
}

.elementor-1576 .elementor-element.elementor-element-03dcbe4 .premium-counter.top {
    align-items: center;
}

.elementor-1576 .elementor-element.elementor-element-03dcbe4 .premium-init-wrapper {
    flex-direction: column;
}

.elementor-1576 .elementor-element.elementor-element-03dcbe4 .premium-counter-value-wrap {
    align-self: center;
}

.elementor-1576 .elementor-element.elementor-element-03dcbe4 .premium-counter-title {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-03dcbe4 .premium-counter-title .premium-counter-title-val {
    color: var( --e-global-color-text);
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-03dcbe4 .premium-counter-area .premium-counter-init {
    color: var( --e-global-color-9a9613b);
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-03dcbe4>.elementor-widget-container {
    background-color: #FFFFFF7D;
    border-radius: 15px 15px 15px 15px;
}

.elementor-bc-flex-widget .elementor-1576 .elementor-element.elementor-element-84eab55.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-84eab55.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-84eab55.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1576 .elementor-element.elementor-element-fa0ae34 .premium-counter:not(.top) {
    justify-content: center;
}

.elementor-1576 .elementor-element.elementor-element-fa0ae34 .premium-counter.top {
    align-items: center;
}

.elementor-1576 .elementor-element.elementor-element-fa0ae34 .premium-init-wrapper {
    flex-direction: column;
}

.elementor-1576 .elementor-element.elementor-element-fa0ae34 .premium-counter-value-wrap {
    align-self: center;
}

.elementor-1576 .elementor-element.elementor-element-fa0ae34 .premium-counter-title {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-fa0ae34 .premium-counter-title .premium-counter-title-val {
    color: var( --e-global-color-text);
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-fa0ae34 .premium-counter-area .premium-counter-init {
    color: var( --e-global-color-9a9613b);
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-fa0ae34>.elementor-widget-container {
    background-color: #FFFFFF7D;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-8bc5f95>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-8bc5f95>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-7be5f5f:not(.elementor-motion-effects-element-type-background),
.elementor-1576 .elementor-element.elementor-element-7be5f5f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF91;
}

.elementor-1576 .elementor-element.elementor-element-7be5f5f,
.elementor-1576 .elementor-element.elementor-element-7be5f5f>.elementor-background-overlay {
    border-radius: 015px 015px 0px 0px;
}

.elementor-1576 .elementor-element.elementor-element-7be5f5f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-7be5f5f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-956eb2b {
    text-align: center;
    width: 218px;
    max-width: 218px;
    top: 200.922px;
}

.elementor-1576 .elementor-element.elementor-element-956eb2b .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-956eb2b>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
}

body:not(.rtl) .elementor-1576 .elementor-element.elementor-element-956eb2b {
    left: -763.922px;
}

body.rtl .elementor-1576 .elementor-element.elementor-element-956eb2b {
    right: -763.922px;
}

.elementor-1576 .elementor-element.elementor-element-2b0f721 {
    text-align: center;
    width: 218px;
    max-width: 218px;
    top: 199.422px;
}

.elementor-1576 .elementor-element.elementor-element-2b0f721 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-2b0f721>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
}

body:not(.rtl) .elementor-1576 .elementor-element.elementor-element-2b0f721 {
    left: -711.422px;
}

body.rtl .elementor-1576 .elementor-element.elementor-element-2b0f721 {
    right: -711.422px;
}

.elementor-1576 .elementor-element.elementor-element-42c0a54 {
    text-align: center;
    width: 218px;
    max-width: 218px;
    top: 199.922px;
}

.elementor-1576 .elementor-element.elementor-element-42c0a54 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-42c0a54>.elementor-widget-container {
    margin: 10px 0px 10px 0px;
}

body:not(.rtl) .elementor-1576 .elementor-element.elementor-element-42c0a54 {
    left: -656.922px;
}

body.rtl .elementor-1576 .elementor-element.elementor-element-42c0a54 {
    right: -656.922px;
}

.elementor-1576 .elementor-element.elementor-element-ffeaeaf {
    text-align: center;
    z-index: 0;
}

.elementor-1576 .elementor-element.elementor-element-ffeaeaf .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-ffeaeaf>.elementor-widget-container {
    padding: 30px 30px 30px 30px;
    background-color: #FFFFFF7D;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-ff6ca8b {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-ff6ca8b .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-ff6ca8b>.elementor-widget-container {
    padding: 25px 25px 25px 25px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-411b355:not(.elementor-motion-effects-element-type-background),
.elementor-1576 .elementor-element.elementor-element-411b355>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF91;
}

.elementor-1576 .elementor-element.elementor-element-411b355,
.elementor-1576 .elementor-element.elementor-element-411b355>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1576 .elementor-element.elementor-element-411b355 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-411b355>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-d1311dd {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-d1311dd .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-d1311dd>.elementor-widget-container {
    padding: 30px 30px 30px 30px;
    background-color: #FFFFFF7D;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-7f73eb6 {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-7f73eb6 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-7f73eb6>.elementor-widget-container {
    padding: 26px 26px 26px 26px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-3bbbe10:not(.elementor-motion-effects-element-type-background),
.elementor-1576 .elementor-element.elementor-element-3bbbe10>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF91;
}

.elementor-1576 .elementor-element.elementor-element-3bbbe10,
.elementor-1576 .elementor-element.elementor-element-3bbbe10>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1576 .elementor-element.elementor-element-3bbbe10 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-3bbbe10>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-fb70287 {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-fb70287 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-fb70287>.elementor-widget-container {
    padding: 26px 26px 26px 26px;
    background-color: #FFFFFF7D;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-176ba04 {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-176ba04 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-176ba04>.elementor-widget-container {
    padding: 26px 26px 26px 26px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-e1d4e76:not(.elementor-motion-effects-element-type-background),
.elementor-1576 .elementor-element.elementor-element-e1d4e76>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF91;
}

.elementor-1576 .elementor-element.elementor-element-e1d4e76,
.elementor-1576 .elementor-element.elementor-element-e1d4e76>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1576 .elementor-element.elementor-element-e1d4e76 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-e1d4e76>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-6c49f56 {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-6c49f56 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-6c49f56>.elementor-widget-container {
    padding: 26px 26px 26px 26px;
    background-color: #FFFFFF7D;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-b8fa0ae {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-b8fa0ae .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-b8fa0ae>.elementor-widget-container {
    padding: 13px 19px 19px 19px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-9ec2175:not(.elementor-motion-effects-element-type-background),
.elementor-1576 .elementor-element.elementor-element-9ec2175>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF91;
}

.elementor-1576 .elementor-element.elementor-element-9ec2175,
.elementor-1576 .elementor-element.elementor-element-9ec2175>.elementor-background-overlay {
    border-radius: 0px 0px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-9ec2175 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-9ec2175>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-a2e0796 {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-a2e0796 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-a2e0796>.elementor-widget-container {
    padding: 26px 26px 26px 26px;
    background-color: #FFFFFF7D;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-67a2dde {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-67a2dde .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 11px;
    font-weight: 500;
}

.elementor-1576 .elementor-element.elementor-element-67a2dde>.elementor-widget-container {
    padding: 26px 26px 26px 26px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-486385f {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-1576 .elementor-element.elementor-element-997a540>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-997a540>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-dab29a1 {
    margin-top: -22px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-1576 .elementor-element.elementor-element-895aef9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1576 .elementor-element.elementor-element-895aef9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1576 .elementor-element.elementor-element-895aef9>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-1576 .elementor-element.elementor-element-8ba2f7b {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-8ba2f7b .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-8ba2f7b>.elementor-widget-container {
    padding: 4px 10px 4px 10px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-f0c15c1 {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-f0c15c1 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-f0c15c1>.elementor-widget-container {
    padding: 4px 10px 4px 10px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-9abeb48 {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-9abeb48 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-9abeb48>.elementor-widget-container {
    padding: 4px 10px 4px 10px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-8136475 {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-8136475 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-8136475>.elementor-widget-container {
    padding: 4px 10px 4px 10px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-8e4db0b {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-8e4db0b .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-8e4db0b>.elementor-widget-container {
    padding: 4px 10px 4px 10px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-1f0bd5f {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-1f0bd5f .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-1f0bd5f>.elementor-widget-container {
    padding: 4px 10px 4px 10px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-acdb57e {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-acdb57e .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-acdb57e>.elementor-widget-container {
    padding: 4px 10px 4px 10px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-bb8c37f {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-bb8c37f .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-bb8c37f>.elementor-widget-container {
    padding: 4px 10px 4px 10px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-3392eae {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-3392eae .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-3392eae>.elementor-widget-container {
    padding: 4px 10px 4px 10px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-7b8f277 {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-7b8f277 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-7b8f277>.elementor-widget-container {
    padding: 4px 10px 4px 10px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-10052a5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-1576 .elementor-element.elementor-element-05b837b {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.elementor-1576 .elementor-element.elementor-element-5b50173 {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.elementor-1576 .elementor-element.elementor-element-1e66b72>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-1e66b72>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-a195a78>.elementor-container {
    min-height: 25px;
}

.elementor-1576 .elementor-element.elementor-element-a195a78:not(.elementor-motion-effects-element-type-background),
.elementor-1576 .elementor-element.elementor-element-a195a78>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF91;
}

.elementor-1576 .elementor-element.elementor-element-a195a78,
.elementor-1576 .elementor-element.elementor-element-a195a78>.elementor-background-overlay {
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-a195a78 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -2px;
    margin-bottom: 0px;
}

.elementor-1576 .elementor-element.elementor-element-a195a78>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1576 .elementor-element.elementor-element-c294ca5 {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-c294ca5 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-c294ca5>.elementor-widget-container {
    padding: 25px 25px 25px 25px;
    background-color: #FFFFFF7D;
    border-radius: 15px 15px 15px 15px;
}

.elementor-1576 .elementor-element.elementor-element-59510ca {
    text-align: center;
}

.elementor-1576 .elementor-element.elementor-element-59510ca .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.elementor-1576 .elementor-element.elementor-element-59510ca>.elementor-widget-container {
    padding: 25px 25px 25px 25px;
    background-color: #FFFFFF63;
    border-radius: 15px 15px 15px 15px;
}

:root {
    --page-title-display: none;
}

body.elementor-page-1576:not(.elementor-motion-effects-element-type-background),
body.elementor-page-1576>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
    background-image: url("http://sigmaweb.ipconfig.com.br/wp-content/uploads/2022/01/vermelho-oficial.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:767px) {
    .elementor-1576 .elementor-element.elementor-element-dd1e712 .elementor-icon-box-icon {
        margin-bottom: 0px;
    }
    .elementor-1576 .elementor-element.elementor-element-052362c .elementor-icon-box-icon {
        margin-bottom: 0px;
    }
}

@media(min-width:768px) {
    .elementor-1576 .elementor-element.elementor-element-190865f {
        width: 82.727%;
    }
    .elementor-1576 .elementor-element.elementor-element-2db0ca0 {
        width: 4.818%;
    }
    .elementor-1576 .elementor-element.elementor-element-92d9df8 {
        width: 6.273%;
    }
    .elementor-1576 .elementor-element.elementor-element-bde4560 {
        width: 6.159%;
    }
    .elementor-1576 .elementor-element.elementor-element-88f92af {
        width: 73.909%;
    }
    .elementor-1576 .elementor-element.elementor-element-ebe1631 {
        width: 9%;
    }
    .elementor-1576 .elementor-element.elementor-element-f177642 {
        width: 7.246%;
    }
    .elementor-1576 .elementor-element.elementor-element-314cfa0 {
        width: 72.624%;
    }
    .elementor-1576 .elementor-element.elementor-element-2f96f6f {
        width: 10.847%;
    }
    .elementor-1576 .elementor-element.elementor-element-8bc5f95 {
        width: 26.046%;
    }
    .elementor-1576 .elementor-element.elementor-element-997a540 {
        width: 73.909%;
    }
    .elementor-1576 .elementor-element.elementor-element-895aef9 {
        width: 9.499%;
    }
    .elementor-1576 .elementor-element.elementor-element-722432e {
        width: 10.501%;
    }
    .elementor-1576 .elementor-element.elementor-element-1e66b72 {
        width: 26.046%;
    }
}


/* Start custom CSS for heading, class: .elementor-element-956eb2b */

.rotate {
    transform: rotate(-90deg);
}


/* End custom CSS */


/* Start custom CSS for heading, class: .elementor-element-2b0f721 */

.rotate {
    transform: rotate(-90deg);
}


/* End custom CSS */


/* Start custom CSS for heading, class: .elementor-element-42c0a54 */

.rotate {
    transform: rotate(-90deg);
}


/* End custom CSS */


/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */