.elementor-widget-heading .elementor-heading-title {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-text-editor {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-text-editor.elementor-drop-cap-view-stacked
	.elementor-drop-cap {
	background-color: var(--e-global-color-primary);
  }
  .elementor-widget-text-editor.elementor-drop-cap-view-framed
	.elementor-drop-cap,
  .elementor-widget-text-editor.elementor-drop-cap-view-default
	.elementor-drop-cap {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
  }
  .elementor-widget-button .elementor-button {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
	background-color: var(--e-global-color-accent);
  }
  .elementor-widget-divider {
	--divider-color: var(--e-global-color-secondary);
  }
  .elementor-widget-divider .elementor-divider__text {
	color: var(--e-global-color-secondary);
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
  }
  .elementor-widget-divider.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-secondary);
  }
  .elementor-widget-divider.elementor-view-framed .elementor-icon,
  .elementor-widget-divider.elementor-view-default .elementor-icon {
	color: var(--e-global-color-secondary);
	border-color: var(--e-global-color-secondary);
  }
  .elementor-widget-divider.elementor-view-framed .elementor-icon,
  .elementor-widget-divider.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-secondary);
  }
  .elementor-widget-image-box .elementor-image-box-title {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-image-box .elementor-image-box-description {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-icon.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-primary);
  }
  .elementor-widget-icon.elementor-view-framed .elementor-icon,
  .elementor-widget-icon.elementor-view-default .elementor-icon {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
  }
  .elementor-widget-icon.elementor-view-framed .elementor-icon,
  .elementor-widget-icon.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-primary);
  }
  .elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-primary);
  }
  .elementor-widget-icon-box.elementor-view-framed .elementor-icon,
  .elementor-widget-icon-box.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
  }
  .elementor-widget-icon-box .elementor-icon-box-title {
	color: var(--e-global-color-primary);
  }
  .elementor-widget-icon-box .elementor-icon-box-title,
  .elementor-widget-icon-box .elementor-icon-box-title a {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-icon-box .elementor-icon-box-description {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-star-rating .elementor-star-rating__title {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-image-gallery .gallery-item .gallery-caption {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
  }
  .elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
	border-color: var(--e-global-color-text);
  }
  .elementor-widget-icon-list .elementor-icon-list-icon i {
	color: var(--e-global-color-primary);
  }
  .elementor-widget-icon-list .elementor-icon-list-icon svg {
	fill: var(--e-global-color-primary);
  }
  .elementor-widget-icon-list .elementor-icon-list-text {
	color: var(--e-global-color-secondary);
  }
  .elementor-widget-icon-list
	.elementor-icon-list-item
	> .elementor-icon-list-text,
  .elementor-widget-icon-list .elementor-icon-list-item > a {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-counter .elementor-counter-number-wrapper {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-counter .elementor-counter-title {
	color: var(--e-global-color-secondary);
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
  }
  .elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {
	background-color: var(--e-global-color-primary);
  }
  .elementor-widget-progress .elementor-title {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-testimonial .elementor-testimonial-content {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-testimonial .elementor-testimonial-name {
	color: var(--e-global-color-primary);
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-testimonial .elementor-testimonial-job {
	color: var(--e-global-color-secondary);
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
  }
  .elementor-widget-tabs .elementor-tab-title,
  .elementor-widget-tabs .elementor-tab-title a {
	color: var(--e-global-color-primary);
  }
  .elementor-widget-tabs .elementor-tab-title.elementor-active,
  .elementor-widget-tabs .elementor-tab-title.elementor-active a {
	color: var(--e-global-color-accent);
  }
  .elementor-widget-tabs .elementor-tab-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-tabs .elementor-tab-content {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-accordion .elementor-accordion-icon,
  .elementor-widget-accordion .elementor-accordion-title {
	color: var(--e-global-color-primary);
  }
  .elementor-widget-accordion .elementor-accordion-icon svg {
	fill: var(--e-global-color-primary);
  }
  .elementor-widget-accordion .elementor-active .elementor-accordion-icon,
  .elementor-widget-accordion .elementor-active .elementor-accordion-title {
	color: var(--e-global-color-accent);
  }
  .elementor-widget-accordion .elementor-active .elementor-accordion-icon svg {
	fill: var(--e-global-color-accent);
  }
  .elementor-widget-accordion .elementor-accordion-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-accordion .elementor-tab-content {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-toggle .elementor-toggle-title,
  .elementor-widget-toggle .elementor-toggle-icon {
	color: var(--e-global-color-primary);
  }
  .elementor-widget-toggle .elementor-toggle-icon svg {
	fill: var(--e-global-color-primary);
  }
  .elementor-widget-toggle .elementor-tab-title.elementor-active a,
  .elementor-widget-toggle
	.elementor-tab-title.elementor-active
	.elementor-toggle-icon {
	color: var(--e-global-color-accent);
  }
  .elementor-widget-toggle .elementor-toggle-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-toggle .elementor-tab-content {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-alert .elementor-alert-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-alert .elementor-alert-description {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-eael-countdown .eael-countdown-digits::after {
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
  }
  .elementor-widget-eael-countdown .eael-countdown-digits {
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
  }
  .elementor-widget-eael-countdown .eael-countdown-label {
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
  }
  .elementor-widget-eael-countdown .eael-countdown-finish-message .expiry-title {
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
  }
  .eael-countdown-finish-text {
	font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-secondary-font-weight);
  }
  .elementor-widget-eael-creative-button
	.eael-creative-button
	.cretive-button-text,
  .elementor-widget-eael-creative-button .eael-creative-button--winona::after {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-eael-dual-color-header .eael-dch-separator-wrap i {
	color: var(--e-global-color-primary);
  }
  .elementor-widget-eael-fancy-text .eael-fancy-text-prefix {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-eael-fancy-text .eael-fancy-text-strings,
  .elementor-widget-eael-fancy-text .typed-cursor {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-eael-fancy-text .eael-fancy-text-suffix {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-eael-feature-list .connector-type-classic .connector {
	border-color: var(--e-global-color-primary);
  }
  .elementor-widget-eael-feature-list
	.connector-type-modern
	.eael-feature-list-item:before,
  .elementor-widget-eael-feature-list
	.connector-type-modern
	.eael-feature-list-item:after {
	border-color: var(--e-global-color-primary);
  }
  .elementor-widget-eael-feature-list
	.eael-feature-list-content-box
	.eael-feature-list-title,
  .elementor-widget-eael-feature-list
	.eael-feature-list-content-box
	.eael-feature-list-title
	> a,
  .elementor-widget-eael-feature-list
	.eael-feature-list-content-box
	.eael-feature-list-title:visited {
	color: var(--e-global-color-primary);
  }
  .elementor-widget-eael-feature-list
	.eael-feature-list-content-box
	.eael-feature-list-title,
  .elementor-widget-eael-feature-list
	.eael-feature-list-content-box
	.eael-feature-list-title
	a {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-eael-feature-list
	.eael-feature-list-content-box
	.eael-feature-list-content {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-eael-filterable-gallery .fg-caption-head .fg-item-price {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-eael-filterable-gallery .fg-caption-head .fg-item-ratings {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-eael-filterable-gallery .fg-item-category span {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-eael-filterable-gallery .fg-filter-trigger > span {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-eael-filterable-gallery
	.fg-layout-3-filter-controls
	li.control {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-eael-filterable-gallery
	.eael-gallery-load-more
	.eael-filterable-gallery-load-more-text {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }
  .elementor-widget-eael-progress-bar .eael-progressbar-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-eael-progress-bar .eael-progressbar-count-wrap {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-eael-progress-bar .eael-progressbar-half-circle-after span {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-eael-simple-menu .eael-simple-menu > li > a,
  .eael-simple-menu-container .eael-simple-menu-toggle-text {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-eael-simple-menu .eael-simple-menu li ul li > a {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
  }
  .elementor-widget-text-path {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
  }