.elementor-kit-5 {
    --e-global-color-primary: #6ec1e4;
    --e-global-color-secondary: #54595f;
    --e-global-color-text: #7a7a7a;
    --e-global-color-accent: #61ce70;
    --e-global-color-d4c0b2a: #cecece;
    --e-global-color-ac828c0: #7b7b7b;
    --e-global-color-0c26721: #043768;
    --e-global-color-fd4f13e: #0082fc;
    --e-global-color-bc0d549: #ff7f7f;
    --e-global-color-ea5ff4e: #9e0c0c;
    --e-global-color-d40ed46: #ff0000;
    --e-global-color-9d5fce1: #333435;
    --e-global-color-9a9613b: #fc0000;
    --e-global-color-13ae769: #15ff00;
    --e-global-color-b0d5c1e: #fcf700;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
  }
  .elementor-widget:not(:last-child) {
    margin-bottom: 20px;
  }
   {
  }
  h1.entry-title {
    display: var(--page-title-display);
  }
  @media (max-width: 1024px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
      max-width: 1024px;
    }
  }
  @media (max-width: 767px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
      max-width: 767px;
    }
  }
  /*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */
  